<!DOCTYPE html>
<html lang="en">
<head>
  <title>About | KANDO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/Logo1.svg">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href=""><img src = "/static/Logo1.svg" alt="logo" height="100%"/></a>
      <a class="navbar-brand" href="/home"> KANDO</a>
      </div>
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="/home">Dashboard</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li class="active"><a  href="/about">About</a></li>
        <li><a  href="/sql">SQL</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><b>{{user}}'s KANDO </b></a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron container text-center">

  <h1>Made by Swapnil S Nair </h1>
  <h3>PES1UG20CS452</h3>

</div>



  
<footer class="container-fluid text-center">
    <p>&copy;2022 Swapnil S Nair      21f1001113      Nope.Unintended</p>
</footer>

</body>
</html>